body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #428bca !important;
    text-decoration: underline;
}

button {
    margin-bottom: 10px;
}